﻿@model IEnumerable<Room>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Размещение</h2>

<div>
@foreach (var room in Model)
{
    <div class="col-md-12 block-style">
    <div class="col-md-2">
        @if (room.Images.Any())
        {<div class="col-md-12"><a href="@room.Images.FirstOrDefault().VirtualPath" class="lightbox"><img src="@room.Images.FirstOrDefault().VirtualPath" width="150" /></a></div>}    
    </div>
        <div class="col-md-10">
            <div class="col-md-3 persons">@room.Name</div>
            <div class="col-md-3 persons">Вместимость: @room.MaxPersons чел.</div>
            <div class="col-md-3 persons">Цена сутки: @room.Price руб.</div>
            @if (room.IsRecived)
            {
                <div class="col-md-3 text-danger">ЗАНЯТО</div>
            }
            else
            {
                <div class="col-md-3 text-primary">СВОБОДНО</div>
            }

        </div>
        <div class="col-md-10">
            <div class="col-md-6">Описание: @Html.Raw(room.Description)</div>   
            <div class="col-md-3"><a asp-controller="Room" asp-action="Rooms" asp-route-id="@room.Id" class="text-warning">Подробнее</a></div>
            @if (!room.IsRecived)
            {
                <div class="col-md-3"><a asp-controller="Room" asp-action="Reserve" asp-route-id="@room.Id" class="text-danger">ЗАБРОНИРОВАТЬ</a></div>
            }
            
        </div>
    </div>
}       
</div>