﻿@model ReserveViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Звбронировать Номер</h2>

<form asp-action="Reserve" asp-route-id="@Model.Room.Id" class="form-horizontal" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" type="text" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Persons" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Persons" type="number" />
            <span asp-validation-for="Persons" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="From" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="From" type="date" />
            <span asp-validation-for="From" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="To" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="To" type="number" />
            <span asp-validation-for="To" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Comment" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea  asp-for="Comment" type="text" rows="10" cols="45"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group col-md-4">
        <button type="submit">Забронировать</button>
    </div>
</form>