﻿@model Room

@{
    ViewBag.Title = @Model.Name;
    Layout = "_Layout";
}



<div class="article-title col-md-12">
    @Model.Name
</div>

<div class="col-md-12">
    @if (Model.Images.Any())
    {
        <div class="article-img">
            <a href="@Model.Images.FirstOrDefault().VirtualPath" class="lightbox"><img src="@Model.Images.FirstOrDefault().VirtualPath" width="150"/></a>
        </div>
    }
    <div class="col-md-5 text-info">Вместимость</div>
    <div class="persons col-md-5">
        @(Model.MaxPersons < 5 ? Model.MaxPersons + " Человека" : Model.MaxPersons + " Человек")
    </div>
    <div class="col-md-5 text-info">Стоимость в сутки</div>
    <div class="persons col-md-5">
        @Model.Price Руб.
    </div>
</div>
<div class="col-md-12">
        @Html.Raw(Model.Description)
</div>
@if(!@Model.IsRecived) 
{
    <div class="col-md-4"><a asp-controller="Room" asp-action="Reserve" asp-route-id="@Model.Id" class="btn-danger ">ЗАБРОНИРОВАТЬ</a></div> 
}
else
{
    <div class="col-md-4 text-warning">НОМЕР УЖЕ ЗАБРОНИРОВАН</div> 
}
        <div class="col-md-12">
            @if (Model.Images.Count > 1)
            {
                foreach (var img in Model.Images.ToList())
                {
                    <div class="col-md-4">
                        <a href="@img.VirtualPath" class="lightbox"><img src="@img.VirtualPath" width="300" /></a>
                    </div>
                }
            }
        </div>
