﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MClub</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/dropzone/dist/dropzone.css" />
        <link rel="stylesheet" href="~/lib/dropzone/dist/basic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/dropzone/dist/min/dropzone.min.css"/>
        <link rel="stylesheet" href="~/lib/dropzone/dist/min/basic.min.css"/>
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-default  col-md-10 col-lg-offset-1 header">
        <div class="container-fluidalign-center">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="main-menu"><a asp-area="" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a></li>
                    @await Component.InvokeAsync("MainMenu")
                    <li class="main-menu"><a asp-area="" asp-controller="Room" asp-action="Index">РАЗМЕЩЕНИЕ</a></li>
                    <li class="main-menu"><a asp-area="" asp-controller="Home" asp-action="About">О НАС</a></li>
                    <li class="main-menu"><a asp-area="" asp-controller="Home" asp-action="Contact">КОНТАКТЫ</a></li>
                    @if (User.IsInRole("Admins"))
                    {
                        
                        <li class="dropdown main-menu">
                            <a asp-area="" asp-controller="Administration" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">АДМИНИСТРАТОР<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Administration" asp-action="AddRoom">Объекты</a></li>
                                <li><a asp-area="" asp-controller="Administration" asp-action="AddArticle">Статьи</a></li>
                                <li><a asp-area="" asp-controller="Administration" asp-action="AddSection">Разделы</a></li>
                                <li><a asp-area="" asp-controller="Administration" asp-action="Reserve">Бронь</a></li>
                            </ul>
                        </li>
                    }
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
               
            </div>
        </div>
    </nav>
    <div class="container body-content col-md-10 col-lg-offset-1">
        @RenderBody()
    </div>
    <div class="col-md-10 col-lg-offset-1 footer">
        <footer>
            <div class="col-md-2">&copy; 2017 - МОНАМУР</div>
            <div class="col-lg-2 pull-right phone">т: 282-30-50</div>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/dropzone/dist/dropzone.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/tinymce-dist/tinymce.js"></script>
    </environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

<script type="text/javascript">

</script>

@RenderSection("Scripts", required: false)
</body>
</html>
