﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown main-menu">
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">ЛИЧНЫЙ КАБИНЕТ</a>
                <ul class="dropdown-menu">
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">ВЫЙТИ</button>
                    </li>
                </ul>
</li>

        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li class="main-menu"><a asp-area="" asp-controller="Account" asp-action="Register">РЕГИСТРАЦИЯ</a></li>
        <li class="main-menu"><a asp-area="" asp-controller="Account" asp-action="Login">ВОЙТИ</a></li>
    </ul>
}
