﻿@model NewArticleViewModel
@{
    ViewBag.Title = "Добавить статью";
    Layout = "_Layout";
}

@foreach (var s in ViewBag.Articles)
{
    string str = s.IsActive == true ? "Снять с публикации" : "Опубликовать";
    string txt = s.IsActive == true ? "text-primary" : "text-danger";

    <div class="col-md-12">
     <form asp-action="EditArticle" asp-route-id="@s.Id" class="form-horizontal" method="get">
         <label class="col-md-2 control-label @txt">Статья:</label>
         <div class="col-md-2">
             @s.Title - @s.CreateTime.ToString("dd MMMM yyyy")
         </div>
         <div class="form-group col-md-2">
             <button type="submit">Редактировать</button>
         </div> 
     </form>

     <form asp-action="PublicArticle" asp-route-id="@s.Id" class="form-horizontal" method="post">
     <div class="form-group col-md-2">
         <button type="submit">@str</button>
         </div>
     </form>

     <form asp-action="DeleteArticle" asp-route-id="@s.Id" class="form-horizontal" method="post">
         <div class="form-group col-md-2">
             <button type="submit">Удалить</button>
         </div>
     </form>
 </div>
}

<h2>Добавить статью</h2>

<form  id="myDropzone" asp-action="AddArticle" class="form-horizontal dropzone" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Section" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Section" asp-items="ViewBag.Sections"></select>
            <span asp-validation-for="Section" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" type="text"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea id="myDescription" asp-for="Description" type="text" rows="10" cols="45"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="dropzone-previews"></div>
    </div>
    <div class="form-group col-md-4">
        <button type="submit">Добавить</button>
    </div>
</form>


@section Scripts {
    <script>
        Dropzone.options.myDropzone = {
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            acceptedFiles: "image/jpeg,image/png,image/gif",
            init: function() {
                var myDropzone = this;

                this.element.querySelector("button[type=submit]").addEventListener("click",
                    function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                        if (myDropzone.getQueuedFiles().length > 0) {                        
                            myDropzone.processQueue();  
                        } else {                       
                            $("#myDropzone").submit();
                        }
                    });
                this.on("sending", function () {
                    document.getElementById("myDescription").value = tinymce.activeEditor.getContent();
                });
                this.on("success",
                    function() {alert("Статья добавлена!")});
            }
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_TinyMCE");
    }
}