﻿@using Microsoft.EntityFrameworkCore.Query.Expressions
@model NewRoomViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var s in ViewBag.Rooms)
{
    string str = s.IsRecived == true ? "Снять с резервации" : "Зарезервировать";
    string txt = s.IsRecived == true ? "text-danger" : "text-primary";

    <div class="jumbotron col-md-12">
        
        @if (s.Images.Count > 0)
        {
            foreach (var img in s.Images)
            {
                <div class="col-md-2">
                    <img src="@img.VirtualPath" width="200"/>
                </div>
                break;
            }
        }

        <div class="col-md-2">

            <div class="col-md-12">
                <label class="control-label @txt">Номер:</label> @s.Name
            </div>
            <div class="col-md-12"><label class="control-label @txt">Цена:</label> @s.Price руб.
            </div>
            <div class="col-md-12"><label class="control-label @txt">Вместимость:</label> @s.MaxPersons чел.
            </div>
        </div>

        <div class="col-md-4 btn-group" role="group">
            <form asp-action="EditRoom" asp-route-id="@s.Id" class="form-horizontal" method="get">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Редактировать</button>
                </div>
            </form>

            <form asp-action="ReserveRoom" asp-route-id="@s.Id" class="form-horizontal" method="post">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">@str</button>
                </div>
            </form>

            <form asp-action="DeleteRoom" asp-route-id="@s.Id" class="form-horizontal" method="post">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Удалить</button>
                </div>
            </form>
        </div>
    </div>
}
<h2>Добавить Номер</h2>

<form  id="myDropzone" asp-action="AddRoom" class="form-horizontal dropzone" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" type="text"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Price" type="number"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="MaxPersons" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="MaxPersons" type="number"/>
            <span asp-validation-for="MaxPersons" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea  id="myDescription" asp-for="Description" type="text" rows="10" cols="45"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="dropzone-previews"></div>
    </div>
    <div class="form-group col-md-4">
        <button type="submit">Добавить</button>
    </div>
</form>


@section Scripts {
    <script>
        Dropzone.options.myDropzone = {
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            acceptedFiles: "image/jpeg,image/png,image/gif",
            init: function() {
                var myDropzone = this;

                this.element.querySelector("button[type=submit]").addEventListener("click",
                    function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                            if (myDropzone.getQueuedFiles().length > 0) {                        
                                myDropzone.processQueue();  
                            } else {                       
                                $("#myDropzone").submit();
                            }
                    });
                this.on("sending", function () {
                    document.getElementById("myDescription").value = tinymce.activeEditor.getContent();
                });
            }
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_TinyMCE");
    }
}

