﻿@model NewSectionViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var s in ViewBag.Sections)
{<div class="col-md-12">
     <form asp-action="RenameSelection" asp-route-id="@s.Id" class="form-horizontal" method="post">
             <label class="col-md-2 control-label text-primary">Раздел:</label>
             <div class="col-md-2">
                 <input asp-for="Name" type="text" value="" placeholder="@s.Name"/>
             </div>
             <div class="form-group col-md-2">
                 <button type="submit">Переименовать</button>
         </div> 
     </form>
     <form asp-action="DeleteSection" asp-route-id="@s.Id" class="form-horizontal" method="post">
         <div class="form-group col-md-2">
             <button type="submit">Удалить</button>
         </div>
     </form>
 </div>
}
<span class="text-primary"> Добавить новый раздел</span>
<div class="col-md-12">

    <form asp-action="AddSection" class="form-horizontal" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <input asp-for="Name" type="text" value=""/>
            </div>
            <div class="form-group col-md-2">
                <button type="submit">Добавить</button>
            </div>
        </div>

    </form>
</div>