﻿@model NewArticleViewModel

@{
    ViewBag.Title = "Редактирование";
    Layout = "_Layout";
}

<h2>Редактирование</h2>

<form id="myDropzone" asp-action="EditArticle" class="form-horizontal dropzone" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Section" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Section" asp-items="ViewBag.Sections"></select>
            <span asp-validation-for="Section" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" type="text"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea id="myDescription" asp-for="Description" type="text" rows="10" cols="45"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="dropzone-previews"></div>
    </div>
    <div class="form-group col-md-4">
        <button type="submit">Сохранить</button>
    </div>

    <div class="col-md-12">
        @if (Model.Images.Count > 0)
        {
            var i = 0;
            foreach (var img in Model.Images.ToList())
            {
                <div class="col-md-4">
                <div class="col-md-12">
                    <img src="@img.VirtualPath" width="300"/>
                </div>
                    <div class="form-group col-md-12">
                        <label class="text-danger">Удалить</label>
                        <input type="checkbox" asp-for="@Model.Check[i].Delete"/>
                        <input type="hidden" asp-for="@Model.Check[i].Id" value="@img.Id"/>
                    </div>
                </div>
                ++i;
            }
        }
    </div>

</form>




@section Scripts {
    <script>
        Dropzone.options.myDropzone = {
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            acceptedFiles: "image/jpeg,image/png,image/gif",
            init: function() {
                var myDropzone = this;

                this.element.querySelector("button[type=submit]").addEventListener("click",
                    function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                        if (myDropzone.getQueuedFiles().length > 0) {
                            myDropzone.processQueue();
                        } else {
                            $("#myDropzone").submit();
                        }
                    });
                this.on("sending", function () {
                    document.getElementById("myDescription").value = tinymce.activeEditor.getContent();
                });
                this.on("complete",
                    function() {
                        alert("статья сохранена");
                    });
            }
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_TinyMCE");
    }
}