@model IEnumerable<Image>

<h2>Upload</h2>
<form asp-controller="Administration" asp-action="AddFile" asp-antiforgery="false"
      class="dropzone" id="UploadForm" enctype="multipart/form-data">
    <div class="fallback">
        <input name="file" type="file" multiple/>
        <input type="submit" value="Upload"/>
    </div>
</form>

<h3>Files</h3>
@foreach (var f in Model)
{
    <div>
        <img src="@Url.Content(f.VirtualPath)" width="200" alt="@f.FileName">
    </div>
}