﻿@model IEnumerable<Reserve>

@{
    Layout = "_Layout";
}


<h2>Бронь</h2>


    <div class="col-md-12">
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>№</th>
                <th>Номер</th>
                <th>Дата заезда</th>
                <th>Дата выезда</th>
                <th>Человек</th>
                <th>Ф.И.О.</th>
                <th>Телефон</th>
                <th>Комментарий</th>
                <th>Редактирование</th>
                <th>Удаление</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var s in @Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Room.Name</td>
                    <td>@s.From.ToString("dd MMMM yyyy")</td>
                    <td>@s.To.ToString("dd MMMM yyyy")</td>
                    <td>@s.Persons</td>
                    <td>@s.Name</td>
                    <td>@s.User.PhoneNumber</td>
                    <td>@s.Comment</td>
                    <td>            <form asp-action="EditReserve" asp-route-id="@s.Id" class="form-horizontal" method="get">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">РЕДАКТИРОВАТЬ</button>
                        </div>
                    </form></td>
                    <td>            <form asp-action="DeleteReserve" asp-route-id="@s.Id" class="form-horizontal" method="post">
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">УДАЛИТЬ</button>
                        </div>
                    </form></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
