﻿@model ListViewModel

<div>
    @foreach (var article in Model.Articles)
    {
        <div class="col-md-12">
            <div class="article-title col-md-4">
                @article.Title
            </div>
        </div>
        <div class="col-md-12">
            @if (article.Images.Any())
            {<div class="article-img">
                 <img src="@article.Images.FirstOrDefault().VirtualPath" width="200"/>
             </div>
            }

            <div class="description">@Html.Raw(article.Description)</div>
        </div>
        <div class="col-md-offset-11"><a asp-controller="Home" asp-action="Articles" asp-route-id="@article.Id" class="text-warning">Подробнее</a></div> 
        <p class="line"/>
    }
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-default" page-class-selected="btn-success" class="btn-group pull-right"></div>
</div>