﻿@using System.Security.Claims
@model IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Управление аккаунтом";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<h2>Параметры аккаунта</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Пользователь:</dt>
        <dd>@Model.Mail</dd>
        <dt>Телефон:</dt>
        <dd>@Model.PhoneNumber</dd>
        <dt>Пароль:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Сменить</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Создать</a>
            }
        </dd>
    </dl>
</div>

<h2>Бронь</h2>


<div class="col-md-12">
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>№</th>
            <th>Номер</th>
            <th>Дата заезда</th>
            <th>Дата выезда</th>
            <th>Человек</th>
            <th>Ф.И.О.</th>
            <th>Телефон</th>
            <th>Комментарий</th>
            <th>Редактирование</th>
            <th>Удаление</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var s in @Model.Reserves)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Room.Name</td>
                <td>@s.From.ToString("dd MMMM yyyy")</td>
                <td>@s.To.ToString("dd MMMM yyyy")</td>
                <td>@s.Persons</td>
                <td>@s.Name</td>
                <td>@s.User.PhoneNumber</td>
                <td>@s.Comment</td>
                <td>            <form asp-action="EditReserve" asp-route-id="@s.Id" class="form-horizontal" method="get">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">РЕДАКТИРОВАТЬ</button>
                    </div>
                </form></td>
                <td>            <form asp-action="DeleteReserve" asp-route-id="@s.Id" class="form-horizontal" method="post">
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">УДАЛИТЬ</button>
                    </div>
                </form></td>
            </tr>
        }
        </tbody>
    </table>
</div>
