﻿@model Article

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
}

<div class="col-md-12">
    <div class="article-title col-md-4">
        @Model.Title
    </div>
</div>
<div class="col-md-12">
    @if (Model.Images.Any())
    {<div class="article-img">
         <img src="@Model.Images.FirstOrDefault().VirtualPath" width="200"/>
     </div>
    }

    <div class="description">@Html.Raw(Model.Description)</div>
</div>
<div class="col-md-12">
    @if (Model.Images.Count > 1)
    {
        foreach (var img in Model.Images.ToList())
        {
            <div class="col-md-4">
                <img src="@img.VirtualPath" width="300"/>
            </div>
        }
    }
</div>

