﻿@{
    ViewData["Title"] = "Главная";
}

<div class="col-md-8 line-right">
    @await Component.InvokeAsync("ArticlesView", new {page=ViewBag.page})
</div>
<div class="col-md-4">
    @await Component.InvokeAsync("RoomsView")
</div>