﻿@model IEnumerable<Article>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@ViewBag.Section</h2>
<div>
    @foreach (var article in Model)
    {
        <div class="col-md-12">
            <div class="article-title col-md-4">
                @article.Title
            </div>
        </div>
        <div class="col-md-12">
            @if (article.Images.Any())
            {<div class="article-img">
                 <img src="@article.Images.FirstOrDefault().VirtualPath" width="200"/>
             </div>
            }

            <div class="description">@Html.Raw(article.Description)</div>
        </div>
        <div class="col-md-offset-11"><a asp-controller="Home" asp-action="Articles" asp-route-id="@article.Id" class="text-warning">&#1055;&#1086;&#1076;&#1088;&#1086;&#1073;&#1085;&#1077;&#1077;</a></div> 
        <p class="line"/>
    }
</div>