﻿@using MClub.Services
@using Microsoft.Extensions.Options;
@model List<Room>

@inject IOptions<AppConfig> AppOptions

@foreach (var room in Model)
{
    
    <div class="article-title col-md-12">
        @room.Name
    </div>

    <div class="col-md-12">
        @if (room.Images.Any())
        {
            <div class="article-img">
                <a href="@room.Images.FirstOrDefault().VirtualPath" class="lightbox"><img src="@room.Images.FirstOrDefault().VirtualPath" width="150" /></a>
            </div>
        }
        <div class="col-md-5 text-info">Вместимость</div>
        <div class="persons col-md-5">
            @(room.MaxPersons < 5 ? room.MaxPersons + ViewBag.man : room.MaxPersons + ViewBag.mans)
        </div>
        <div class="col-md-5 text-info">Стоимость</div>
        <div class="persons col-md-5">
            @room.Price Руб.
        </div>
    </div>
    <div class="col-md-12">
        @if (room.Description.Length > AppOptions.Value.SubstrCol)
        {
            var s = room.Description.Substring(0, AppOptions.Value.SubstrCol)+ "&#8230;";
            @Html.Raw(s)
        }
        else
        {
            @Html.Raw(room.Description)
        }
    </div>
    if (!room.IsRecived)
    {
        <div class="col-md-4"><a asp-controller="Room" asp-action="Reserve" asp-route-id="@room.Id" class="text-danger">ЗАБРОНИРОВАТЬ</a></div>
    }
        <div class="col-md-offset-10"><a asp-controller="Room" asp-action="Rooms" asp-route-id="@room.Id" class="text-warning">Подробнее</a></div>
    
}
