﻿@{
    ViewData["Title"] = "Подтверждение Емейла";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Спасибо за подтверждение емейла. Пожалуйста <a asp-controller="Account" asp-action="Login">Нажмите сюда для входа</a>.
    </p>
</div>
