﻿@{
    ViewData["Title"] = "Заблокирован";
}

<header>
    <h1 class="text-danger">Заблокирован.</h1>
    <p class="text-danger">Этот аккаунт заблокирован, пожалуйста попробуйте войти позже.</p>
</header>
