﻿@{
    ViewData["Title"] = "Подтверждение сброса паролья";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ваш пароль был сброшен. Пожалуйста <a asp-controller="Account" asp-action="Login">Нажмите здесь для входа</a>.
</p>
