﻿#lightbox {
    position: fixed;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black url(//images/loader.gif) no-repeat scroll center center;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../theme/img/bg.jpg');
}
        
.logo {
    background-image: url('../theme/img/logo.png');
    margin-top: 50px;
    margin-bottom: 20px;
    height: 256px;
    width: 350px;
}


.block-style {
    border: darkgreen;
    border-style: dotted;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
}

.main-menu a{
    font-size: x-large;
    font-stretch: extra-condensed;
    background-color: #3b0006;
    border-left-color:darkgreen; /* Цвет линии слева */
    border-left-style: dotted; /* Стиль линии */
    border-left-width: 2px; /* Толщина линии */
    padding-left: 10px; /* Расстояние между линией и текстом */
    color: white !important;
}

.header {
    background-image: url('../theme/img/header.jpg');
    -ms-background-size:cover;
    background-size:cover;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: beige;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.footer {
    background-color: green;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: whitesmoke;
    box-shadow: -2px 2px 5px grey;
}

.line {
    border-top-color: darkgreen;
    border-top-style: dashed;
    border-top-width: 1px;
}

.line-right {
    border-right-color: darkgreen; /* Цвет линии слева */
    border-right-style: dashed; /* Стиль линии */
    border-right-width: 1px; /* Толщина линии */
}

.persons {
    background-color: darkgreen;
    color: aliceblue;
    font-size: x-large;
}
.article-title {
    font-size: xx-large;
    color: white;
    background-color: #3b0006;
    padding-left: 15px;
    float: none;
    margin-bottom: 20px;
}

.article-img {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.description {
    font-size: medium;
    height: 250px;
}

.phone {
    font-size: xx-large;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
